.error-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(232, 80, 80, 0.4);
  padding: 10px;

  .msg-block {

  }

  .close-btn {
    cursor: pointer;
  }
}
