<mat-card>
  <mat-card-title>Login</mat-card-title>
  <p>{{message}}</p>

  <form action="" (ngSubmit)="onLogin()">

    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your password" [formControl]="password" [type]="hidePass ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <button type="submit" mat-button color="primary" [disabled]="email.invalid || password.invalid">Login!</button>

  </form>



</mat-card>
