@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~material-design-icons/iconfont/material-icons.css";

//@import "variables.scss";

body {
  margin: 0;
  background-color: #bdbdbd;
}

form {
  display: flex;
  flex-direction: column;
}
