<mat-toolbar color="primary">
  <span>Do this shit!</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <div class="button-row">
    <!--<button mat-raised-button>Basic</button>-->
    <!--<button mat-raised-button color="primary">Primary</button>-->
    <!--<button mat-raised-button color="accent">Accent</button>-->
    <!--<button mat-raised-button color="warn">Warn</button>-->
    <!--<button mat-raised-button disabled>Disabled</button>-->
    <a mat-raised-button routerLink="/login" *ngIf="!authService.isLoggedIn">Login</a>
    <a mat-raised-button routerLink="/register" *ngIf="!authService.isLoggedIn">Register</a>

    <a mat-raised-button routerLink="/login" *ngIf="authService.isLoggedIn" (click)="logout()">Logout</a>
  </div>
</mat-toolbar>
