<mat-card>
  <mat-card-title>Register</mat-card-title>

  <form action="">

    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your password" [formControl]="password" [type]="hidePass ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Repeat your password" [formControl]="repeatPassword" [type]="hidePassRep ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePassRep = !hidePassRep">{{hidePassRep ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <mat-error *ngIf="password.value !== repeatPassword.value && !repeatPassword.pristine && !password.pristine">Repeated password is wrong</mat-error>
    <button mat-button color="primary" [disabled]="email.invalid || password.invalid || repeatPassword.invalid || password.value !== repeatPassword.value" (click)="register()">Register!</button>

  </form>

</mat-card>
