<mat-card>
  <mat-card-title>Register</mat-card-title>

  <form action="">

    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hidePass ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Repeat your password" [type]="hidePassRep ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePassRep = !hidePassRep">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <button mat-button color="primary">Register!</button>

  </form>

</mat-card>
